*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #b5e6f6;
    margin: 15px 0;
    overflow: hidden;
}

main{
    height: 100vh;
}

header{
    background-color: #add8e6;
    width: 40%;
    margin: auto;
}  

header h1{
    color: #0085b1;
    text-align: center;
}

#menu{
    background-color: #9ac1ce;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

ol{
    padding: 0px;
    list-style-position: inside;
    margin: 35px;
}

#menu li{
    float: left;
}

.action{
    border: 2px solid #0085b1;
}

#menu li a{
    text-align: center;
    padding: 10px;
    color: #000;
    text-decoration: none;
}

#menu li a:hover{
    transition: 0.5;
    color: #fff;
    background-color: #546970;
}

article{
    background-color: #fff;
    text-align: justify;
    width: 40%;
    height: calc(100vh - 125px);
    margin: auto;
}

ol li span{
    float: right;
}

ol li{
    border-bottom: 1px solid black;
}

img{
    width: 100%;
}

h2, p{
    margin: 0 20px 0 35px;
}

div{
    margin-top: 10px;
    text-align: center;
    padding: 10px;
}

#btt{
    text-decoration: none;
    color: white;
    background-color: #0085b1;
    border-radius: 5px;
    padding: 7px;
}

#btt:hover{
    transition: 0.5;
    background-color: #00b0eb;
    color: #ccc;
}

footer{
    text-align: center;
    background-color: #62cfab;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 40%;
}